.header .navbar-inverse .navbar-header .navbar-brand .head_logo, #welcome .home_top .home_logo, #welcome .home_top .btn-start, #welcome .home_bottom .feature-img {
  background-image: url("../img/img_welcome.png");
  background-repeat: no-repeat; }

body {
  background: url("../img/bg-main.png"); }

.btn {
  border: 0 none;
  padding: 7px 13px; }

.modal.confirm_modal_window .modal-dialog {
  max-width: 310px; }
  .modal.confirm_modal_window .modal-dialog .modal-footer {
    padding: 0; }
    .modal.confirm_modal_window .modal-dialog .modal-footer .btn {
      width: 50%;
      float: left;
      text-decoration: none;
      margin: 0; }
      .modal.confirm_modal_window .modal-dialog .modal-footer .btn:hover {
        font-weight: bold; }
    .modal.confirm_modal_window .modal-dialog .modal-footer .btn-link:hover {
      border-radius: 5px;
      background: #f2f6fa; }
.modal .modal-content {
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }

.header {
  height: 46px; }
  .header .navbar-inverse {
    background-color: #3282da;
    border: 0; }
    .header .navbar-inverse .navbar-header .navbar-brand {
      color: #fff;
      line-height: 45px;
      padding: 4px 20px; }
      .header .navbar-inverse .navbar-header .navbar-brand .head_logo {
        height: 40px;
        width: 40px;
        float: left; }
    .header .navbar-inverse .navbar-menu a {
      color: #fff; }

#welcome .home_top {
  border-bottom: 1px solid #c4beb6;
  height: 400px;
  margin-bottom: 30px; }
  #welcome .home_top .home_logo {
    background-position: 0 -50px;
    display: inline-block;
    height: 180px;
    margin-top: 30px;
    width: 134px; }
  #welcome .home_top .btn-start {
    background-position: -40px 0;
    color: #fff;
    font-size: 120%;
    height: 49px;
    line-height: 35px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 220px; }
    #welcome .home_top .btn-start:hover, #welcome .home_top .btn-start:active {
      font-weight: bold; }
#welcome .home_bottom .feature-img {
  float: left;
  height: 85px;
  margin-bottom: 40px;
  margin-right: 25px;
  width: 85px; }
#welcome .home_bottom #fast {
  background-position: 0 -231px; }
#welcome .home_bottom #secure {
  background-position: 0 -324px; }
#welcome .home_bottom #powerfull {
  background-position: -90px -231px; }
#welcome .home_bottom #connect {
  background-position: -90px -324px; }
#welcome .home_bottom .title {
  color: #5e5e5e;
  font-size: 200%;
  line-height: 1.5;
  display: block; }

.login_form_wrap {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 200px auto 0;
  max-width: 310px;
  overflow: hidden;
  padding: 25px; }
  .login_form_wrap .login_form_head {
    text-transform: uppercase; }
  .login_form_wrap .login_form_lead, .login_form_wrap .login_form_head {
    text-align: center; }

.login_country_selector, .login_phone_number, .login_country_selector:focus, .login_phone_number:focus {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1.5px solid #ccc;
  border-radius: 0;
  box-shadow: none; }

.login_country_selector {
  cursor: pointer;
  height: 34px;
  line-height: 14px;
  margin-bottom: 12px;
  padding: 10px 12px 10px 13px; }

.login_country_selector, .login_form_head {
  text-transform: uppercase; }

/*# sourceMappingURL=ubon.css.map */
