.header {
	height: $headerHeight;
	.navbar-inverse {
		background-color: $ubonColor;
		border: 0;
		.navbar-header {
			.navbar-brand {
				color: #fff;
			    line-height: 45px;
			    padding: 4px 20px;
				.head_logo {
					height: 40px;
					width: 40px;
					float: left;
					@extend %welcome_img;
				}
			}
		}	
		.navbar-menu {
			a {
				color: #fff;
			}
		}
	}
}