    <div my-head></div>
    <div id="welcome" class="container">
      <div class="home_top text-center">
        <div class="home_logo"></div>
        <div class="welcome">
          <!-- <p my-i18n="welcome_start_messaging"></p> -->
          <h2  my-i18n="welcome_title"></h2>
          <p  my-i18n="welcome_message"></p>
        </div>
        <a class="btn btn-start" ng-click="login()" my-i18n="welcome_button_message"> </a>
      </div> <!-- end home_top -->
      
      <div class="home_bottom">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="feature-img" id="fast"></div>
          <div class="feature-content">
            <span class="title" my-i18n="welcome_feature_fast_title"></span>
            <span class="shortcontent" my-i18n="welcome_feature_fast_message"></span>
          </div>
        </div> <!-- end feature 1 -->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
          <div class="feature-img" id="powerfull"></div>
          <div class="feature-content">
            <span class="title" my-i18n="welcome_feature_powerfull_title"></span>
            <span class="shortcontent" my-i18n="welcome_feature_powerfull_message"></span>
          </div>
        </div> <!-- end feature 2 -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="feature-img" id="secure"></div>
          <div class="feature-content">
            <span class="title" my-i18n="welcome_feature_secure_title">Secure</span>
            <span class="shortcontent" my-i18n="welcome_feature_secure_message"></span>
          </div>
        </div> <!-- end feature 3 -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="feature-img" id="connect"></div>
          <div class="feature-content">
            <span class="title" my-i18n="welcome_feature_connect_title">Connect</span>
            <span class="shortcontent" my-i18n="welcome_feature_connect_message"></span>
          </div>
        </div> <!-- end feature 4 -->
      </div> <!-- end home_bottom -->
    </div>